<div class="desktop">
  <header class="page-header">
    <div class="header-container">
      <div class="logo">
        <img src="assets/img/logo.png" alt="Logo" class="logo-image" />
      </div>
      <div class="header-right">
        <div class="buttons">
          <button class="cta-button primary" (click)="goToLogin()">Войти</button>
        </div>
      </div>
    </div>
  </header>
  <main class="main-content">
    <section class="hero">
      <h1 class="hero-title"><span class="span">Система</span> <span class="text-wrapper-2">распознавания</span></h1>
      <p class="hero-description">
        мимико-пантомимических признаков во время стандартизированной процедуры этовидеографического исследования
      </p>
      <div class="cta-buttons">
        <a href="#" class="cta-button primary">
          <span class="text-wrapper-3" (click)="goToLogin()">Подробнее</span>
          <svg
            class="arrow-right-regular"
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="vector-6"
              d="M1 7H11M11 7L6 2M11 7L6 12"
              stroke="var(--btn-primary-fg)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <a href="#" class="cta-button secondary">
          <span class="text-wrapper-4">Демо</span>
          <svg
            class="arrow-right-regular"
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="vector-6"
              d="M1 7H11M11 7L6 2M11 7L6 12"
              stroke="var(--btn-secondary-fg)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-content">
      <p class="copyright">© 2025-2026 Совместный проект ВМА им.Кирова и Центра ИИ СПбГУ / Все права защищены</p>
      <p class="version-info">Клиентская версия: v1.2.5 / Серверная версия: v1.2.30</p>
    </div>
  </footer>
</div>
