<div class="desktop">
  <main class="main-content">
    <section class="hero">
      <div class="badges">
        <div class="badge-item">Знакомство с системой</div>
        <div class="badge-item">Обучение</div>
        <div class="badge-item selected">Практика проведения интервью</div>
        <div class="badge-item">Участие в исследованиях</div>
      </div>

      <h1 class="hero-title"><span class="span">Цифровая образовательная платформа.</span> <span class="text-wrapper-2">Аватар</span></h1>
      <p class="hero-description">
         Помощь специалистам в проведении психодиагностического интервью.
      </p>
      <div class="cta-buttons">
        <a href="#" class="cta-button primary">
          <span class="text-wrapper-3">Пройти обучение</span>
          <svg
            class="arrow-right-regular"
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="vector-6"
              d="M1 7H11M11 7L6 2M11 7L6 12"
              stroke="#FFFFFF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <a href="#" class="cta-button secondary">
          <span class="text-wrapper-4">Запросить демо</span>
          <svg
            class="arrow-right-regular"
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="vector-6"
              d="M1 7H11M11 7L6 2M11 7L6 12"
              stroke="#EC6868"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <a href="#" class="cta-button secondary">
          <span class="text-wrapper-4">Для экспертов</span>
          <svg
            class="arrow-right-regular"
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="vector-6"
              d="M1 7H11M11 7L6 2M11 7L6 12"
              stroke="#EC6868"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>

    </section>
  </main>
</div>
